{% extends '@IEPCAdmin/_layouts/default.html.twig' %}

{% block content %}
    <h1>Contenidos</h1>

    [<a href="{{ path('iepc_content_admin_content_edit') }}">Nuevo</a>]



    <ul>
        {% for content in contents %}
            <li>
                [<a href="{{ path('iepc_content_admin_content_edit', {id: content.id}) }}">editar</a>]
                ({{ content.entityName }})
                <strong>{{ content.name }}</strong>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}