/app/config/parameters.yml
/bin/
/build/
/composer.phar
/vendor/
/web/bundles/
/web/generated/css/
/web/generated/js/
/var/
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep
/phpunit.xml
/.idea/workspace.xml