{% extends '@IEPCContentAdmin/_layouts/default.html.twig' %}

{% block content %}
    <h1>Páginas web</h1>
    [<a href="{{ path('iepc_content_admin_webpage_edit') }}">nueva</a>]
    <ul>
        {% for webpage in webpages %}
            <li>
                [<a href="{{ path('iepc_content_admin_webpage_edit', {id : webpage.id}) }}">editar</a>]
                {{ webpage }}
            </li>
        {% endfor %}
    </ul>
{% endblock content %}
