@import "kube/kube";
@import "variables";
@import "mixins";

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

body > footer {
    & > div {
        .container;
        .row;
    }
    .left {
        .col(6);
        .links {
            .media-grid(3);
            & > div {
                margin-bottom: 1em;
            }
        }
        .mailbox {
            p {
                text-align: justify;
            }
            input, textarea {
                padding: 0.15em;
            }
            input {
                height: auto;
            }
            .data {
                .row;
                .names {
                    label {
                        display: inline-block;
                        width: 4em;
                    }
                    .col(5);
                }
                .msg {
                    .col(7);
                }
            }
            button {
                display: block;
                height: auto;
                line-height: 30px;
                width: 100%;
                margin-top: 1em;
            }
        }
        padding-right: 1em;
    }
    .right {
        .col(6);
        & > div {
            .row;
            .gmaps {
                .col(8);
                padding: 0 2em;
                .vertical-align;
            }
            .address {
                .col(4);
            }
        }
        padding-left: 1em;
    }

    @media @notmaxwidth {
        .left {
            .col(8);
            .links {
                .media-grid(3);
            }
        }
        .right {
            .col(4);
            & > div {
                .gmaps {
                    display: none;
                }
                .address {
                    padding: 0 1em;
                    .col(12);
                }
            }
        }
    }

    @media @tabletview {
        .left {
            display: none;
        }
        .right {
            .col(12);
            & > div {
                .gmaps {
                    display: none;
                }
                .address {
                    .col(12);
                }
            }
            padding-left: 0;
        }
    }
}

body > main {
    margin-top: 1em;
}