// Media queries
@highdensity: ~"only screen and (-webkit-min-device-pixel-ratio: 1.5)",
~"only screen and (min--moz-device-pixel-ratio: 1.5)",
~"only screen and (-o-min-device-pixel-ratio: 3/2)",
~"only screen and (min-device-pixel-ratio: 1.5)";
@mobile:      ~"only screen and (max-width: 529px)";
@tablet:      ~"only screen and (min-width: 530px) and (max-width: 949px)";
@desktop:     ~"only screen and (min-width: 950px) and (max-width: 1128px)";
@desktop-xl:  ~"only screen and (min-width: 1129px)";
@portrait: ~"screen and (orientation:portrait)";
@landscape: ~"screen and (orientation:landscape)";
@menuvisible: ~"only screen and (min-width: 900px)";
@hideSupl: ~"only screen and (max-width: 1400px)";
@hideHeader: ~"only screen and (max-height: 400px)";


@notmaxwidth: ~"only screen and (max-width: 1199px)";
@mobileview: ~"only screen and (max-width: 500px)";

// Mixins
.flexboxMenu {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */

    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;

    -ms-flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;

    -ms-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.simpleUl {
    display: block;
    margin: 0;
    padding: 0;
    li {
        margin: 0;
        padding: 0;
        list-style: none;
    }
}