@import "variables";
@import "mixins";

body {
    font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 16px;
}

body > header {
    background: linear-gradient(#ffffff, #e3e3e3);
    .logo {
        padding: 0.75em 0;
        img {
            max-height: 5em;
        }
    }
    .social {
        text-align: right;
        padding: 0.75em 1em 0 0;
        img {
            height: 1.5em;
            margin: 0 0.15em;
            transition: all 0.25s linear;
            &:hover {
                transform: scale3d(1.25, 1.25, 1);
            }
        }
        ul {
            .simpleUl;
            li {
                display: inline-block;
            }
        }
    }
    @media @notmaxwidth {
        padding: 0.25em 0;
        .logo {
            padding-left: 1em;
            img {
                max-height: 4em;
            }
        }
    }
    @media @tabletview {
        row column[cols] {
            margin: 0 !important;
        }
    }
    @media @mobileview {
        .logo {
            padding-left: 0;
            text-align: center;
            img {
                max-height: 4em;
            }
        }
        .social {
            img {
                margin: 0 0.25em;
            }
        }
    }
}

body > footer {
}
