@import "variables";
@import "mixins";

body {
    font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 16px;
}

a {
    color: @mainHL;
    text-decoration: none;
    &:hover {
        color: darken(@mainHL, 50%);
    }
}

body > header {
    background: linear-gradient(#ffffff, #e3e3e3);
    .logo {
        padding: 0.75em 0;
        img {
            max-height: 5em;
        }
    }
    .social {
        text-align: right;
        padding: 0.75em 1em 0 0;
        img {
            height: 1.5em;
            margin: 0 0.15em;
            transition: all 0.25s linear;
            &:hover {
                transform: scale3d(1.25, 1.25, 1);
            }
        }
        ul {
            .simpleUl;
            li {
                display: inline-block;
            }
        }
    }
    @media @notmaxwidth {
        padding: 0.25em 0;
        .logo {
            padding-left: 1em;
            img {
                max-height: 4em;
            }
        }
    }
    @media @tabletview {
        row column[cols] {
            margin: 0 !important;
        }
    }
    @media @mobileview {
        .logo {
            padding-left: 0;
            text-align: center;
            img {
                max-height: 4em;
            }
        }
        .social {
            img {
                margin: 0 0.25em;
            }
        }
    }
}

body > footer {
    margin-top: 1em;
    font-size: 1em;
    padding: 1em 0;
    background-color: #BBBBBB;
    min-height: 10em;
    text-align: center;
    .logo {
        max-height: 4em;
        display: block;
        margin: 0 auto 1em auto;
    }
    .sitemap {
        text-align: left;
        font-size: 0.9em;
    }
    .aviso {
        font-weight: bold;
        margin-top: 1em;
        background-color: #FAFAFA;
    }
    @media @notmaxwidth {
        .map {
            display: none;
        }
    }
    @media @tabletview {
        .sitemap {
            padding-left: 1em;
        }
    }
}
