{% extends 'IEPCWebsiteBundle::base.html.twig' %}

{% block bodyClass 'participacion-ciudadana' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/participacion-ciudadana.css' filter='?yui_css'
        '@IEPCWebsiteBundle/Resources/less/sections/participacion-ciudadana.less'
        '@IEPCWebsiteBundle/Resources/css/animate.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock stylesheets %}

{% block layout %}
    <header>
        {% block header %}
            {% include '@IEPCWebsite/_shared/header-participacion-ciudadana.html.twig' %}
        {% endblock header %}
    </header>

    {% block mainMenu %}
        {{  render(controller('IEPCWebsiteBundle:Menu:participacionCiudadana')) }}
    {% endblock mainMenu %}

    {% block mainContainer %}
        <main class="container">
            <row end>
                <column cols="9">
                    {% block content '' %}
                </column>
                <column cols="3" class="hideMobile sidebar">
                    &nbsp;
                </column>
            </row>
        </main>
    {% endblock mainContainer %}

    <footer>
        {% block footer %}
            {% include '@IEPCWebsite/_shared/footer-participacion-ciudadana.html.twig' %}
        {% endblock footer %}
    </footer>
{% endblock layout %}