{% extends '@IEPCWebsite/_layouts/participacion-ciudadana.html.twig' %}

{% block mainContainer %}
    <main class="container" id="frontpage">
        <row>
            <column cols="9" class="mainBanner">
                <blockquote>
                    <p>"La <strong>participación ciudadana</strong> es una acción clave para un desarrollo humano sensible"</p>
                    <footer>
                        <cite>Martin Luther King</cite>
                    </footer>
                </blockquote>
            </column>
            <column cols="3" class="textBanner">
                <p>
                    <a href="#">
                        Consulta las iniciativas de la <strong>Reforma de Participación</strong> y nuestro <strong>comparativo</strong>
                    </a>
                </p>
            </column>
        </row>
        <row>
            <column cols="6" class="banner textBanner">
                <p><a href="#"><strong>Palabra</strong> y <strong>pensamiento</strong></a></p>
            </column>
            <column cols="6" class="banner textBanner">
                <p><a href="#">Participación <strong>ONG's</strong></a></p>
            </column>
        </row>
        <row>
            <column cols="6" class="banner textBanner">
                <p><a href="#"><strong>Eventos</strong> de participación ciudadana</a></p>
            </column>
            <column cols="6" class="banner textBanner">
                <p><a href="#">Participación política de las <strong>mujeres</strong></a></p>
            </column>
        </row>
    </main>
{% endblock mainContainer %}