{% extends '@IEPCWebsite/_layouts/participacion-ciudadana.html.twig' %}

{% block mainContainer %}
    <main class="container" id="frontpage">
        <row>
            <column cols="9" class="mainBanner">
                <blockquote>
                    <p>"La <strong>participación ciudadana</strong> es una acción clave para un desarrollo humano sensible"</p>
                    <footer>
                        <cite>Martin Luther King</cite>
                    </footer>
                </blockquote>
            </column>
            <column cols="3" class="textBanner">
                <a href="/participacion-ciudadana/democracia-directa/reforma-participacion-ciudadana">
                    <img src="{{ asset('bundles/iepcwebsite/images/participacion-ciudadana/banner-consulta.jpeg') }}">
                </a>
                <a href="/participacion-ciudadana/difusion/eventos-de-la-direccion">
                    <img src="{{ asset('bundles/iepcwebsite/images/participacion-ciudadana/banner-eventos.jpeg') }}">
                </a>
            </column>
        </row>
        <row>
            <column cols="6" class="banner textBanner">
                <p>
                    <a href="/participacion-ciudadana/palabra-y-pensamiento"><strong>Palabra</strong> y <strong>acción</strong></a>
                </p>
            </column>
            <column cols="6" class="banner textBanner">
                <p><a href="/participacion-ciudadana/participacion-ongs">Participación <strong>ONG's</strong></a></p>
            </column>
        </row>
        <row>
            <column cols="6" class="banner textBanner">
                <p><a href="/participacion-ciudadana/difusion/eventos-de-la-direccion"><strong>Eventos</strong> de participación ciudadana</a></p>
            </column>
            <column cols="6" class="banner textBanner">
                <p><a href="/participacion-ciudadana/participacion-politica-de-las-mujeres">Participación política de las <strong>mujeres</strong></a></p>
            </column>
        </row>
    </main>
{% endblock mainContainer %}