{% extends '@IEPCWebsite/_layouts/participacion-ciudadana.html.twig' %}

{% block mainContainer %}
    <main class="container" id="frontpage">
        <row>
            <column cols="9" class="mainBanner">
                <blockquote id="citesRotator">
                    <p>Nunca dudes que un pequeño <strong>grupo de ciudadanos pensantes</strong> y comprometidos pueden <strong>cambiar el mundo</strong>, porque en el fondo es lo único que siempre lo ha cambiado.</p>
                    <footer>
                        <cite>Margaret Mead</cite>
                    </footer>
                </blockquote>
            </column>
            <column cols="3" class="textBanner animated zoomInUp">
                <a href="/participacion-ciudadana/democracia-directa/reforma-participacion-ciudadana">
                    <img src="{{ asset('bundles/iepcwebsite/images/participacion-ciudadana/banner-consulta.jpeg') }}">
                </a>
                <a href="/participacion-ciudadana/difusion/eventos-de-la-direccion">
                    <img src="{{ asset('bundles/iepcwebsite/images/participacion-ciudadana/banner-eventos.jpeg') }}">
                </a>
            </column>
        </row>
        <row>
            <column cols="6" class="banner textBanner palabra animated bounceInLeft">
                <p><a href="/participacion-ciudadana/palabra-y-pensamiento"><strong>Palabra</strong> y <strong>acción</strong></a></p>
            </column>
            <column cols="6" class="banner textBanner ongs  animated bounceInRight">
                <p><a href="/participacion-ciudadana/participacion-ongs">Participación <strong>ONG's</strong> y <strong>OSC's</strong></a></p>
            </column>
        </row>
        <row>
            <column cols="6" class="banner textBanner eventos animated bounceInLeft">
                <p><a href="/participacion-ciudadana/difusion/eventos-de-la-direccion"><strong>Eventos</strong> de participación ciudadana</a></p>
            </column>
            <column cols="6" class="banner textBanner mujeres animated bounceInRight">
                <p><a href="/participacion-ciudadana/participacion-politica-de-las-mujeres">Participación política de las <strong>mujeres</strong></a></p>
            </column>
        </row>
    </main>
{% endblock mainContainer %}

{% block javascripts %}
    {{ parent() }}
    <script>
        (function(){
            var citess = [
                {cite: 'Nunca dudes que un pequeño <strong>grupo de ciudadanos pensantes</strong> y comprometidos pueden <strong>cambiar el mundo</strong>, porque en el fondo es lo único que siempre lo ha cambiado.', author: 'Margaret Mead'},
                {cite: 'No existe la libertad, sino la <strong>búsqueda de la libertad</strong>, y esa búsqueda <strong>es la que nos hace libres</strong>.', author: 'Carlos Fuentes'},
                {cite: 'El egoísta, lo mismo que el esclavo, no tiene patria ni honor. Amigo de su <strong>bien privado</strong> y ciego tributario de sus propias pasiones, no atiende al <strong>bien de los demás</strong>.', author: 'Benito Juárez'},
                {cite: 'Libre, y para mi sagrado, <strong>es el derecho de pensar</strong>.  La instrucción pública es el <strong>fundamento de la felicidad social</strong>, es el principio en que descansan la libertad y el <strong>engrandecimiento de los pueblos</strong>.', author: 'Benito Juárez'},
                {cite: 'Sin instrucción no <strong>hay libertad</strong>, y, cuanto más difundida esté aquélla, tanto <strong>más sólida</strong> se hallará esta', author: 'Lucas Alamán'},
                {cite: 'No estudio por <strong>saber más</strong>, sino por <strong>ignorar menos</strong>', author: 'Sor Juana Inés de la Cruz'},
                {cite: 'Las masas <strong>humanas más peligrosas</strong> son aquellas en cuyas venas ha sido <strong>inyectado el veneno del miedo</strong>... del miedo al cambio', author: 'Octavio Paz'},
                {cite: 'No sé si la <strong>modernidad es una bendición</strong>, una maldición o las dos cosas. Sé que es un destino: Si <strong>México</strong> quiere ser, <strong>tendrá que ser moderno</strong>', author: 'Octavio Paz'},
                {cite: 'Toda <strong>dictadura, sea de un hombre o de un partido</strong>, desemboca en las dos formas predilectas de la esquizofrenia: el <strong>monólogo y el mausoleo</strong>.', author: 'Octavio Paz'},
                {cite: 'Sin <strong>democracia</strong> la libertad es una <strong>quimera</strong>.', author: 'Octavio Paz'},
                {cite: 'El cargo político <strong>más importante</strong> en una democracia es <strong>el de ciudadano</strong>.', author: 'Juez Louis D. Brandeis'},
                {cite: 'La política debe ser la <strong>profesión de tiempo parcial</strong> de cada ciudadano comprometido a <strong>proteger los derechos y privilegios</strong> de los hombres libres.', author: 'Eisenhower'},
                {cite: 'Un gobierno democrático que no proporciona <strong>información o los medios</strong> para adquirirla no es sino un prólogo a una <strong>farsa o tragedia o quizá ambas</strong>. El <strong>conocimiento gobernará</strong> por siempre sobre la ignorancia, por lo que <strong>el pueblo que aspire a ser su propio gobernante</strong> debe armarse con el poder que el conocimiento otorga.', author: 'James Madison.'},
                {cite: 'Como ciudadanos de esta <strong>democracia</strong>, ustedes son los <strong>gobernantes y los gobernados</strong>, los legisladores y los súbditos de la ley, <strong>el principio y el fin</strong>.', author: 'Adlai Stevenson'},
                {cite: 'La <strong>libertad</strong> no puede ser preservada sin el <strong>conocimiento</strong> general entre la gente que tiene <strong>un derecho y un deseo</strong> a saber.', author: 'John Adams'},
                {cite: 'Piense <strong>usted</strong> lo que quiera, pero <strong>piénselo</strong>.', author: 'Fernando Savater'},
                {cite: 'Tanto para <strong>la nación</strong> como el individuo el único <strong>requisito</strong> indispensable es <strong>el carácter</strong>.', author: 'T. Roosevelt'},
                {cite: 'La vida de <strong>la República</strong> descansa en la energía, <strong>virtud e inteligencia</strong> de sus ciudadanos.', author: 'Andrew Johnson'},
                {cite: 'La gente normalmente opina que, en una <strong>democracia</strong>, las decisiones son tomadas por una <strong>mayoría</strong> o quienes <strong>se hacen escuchar y votan</strong>—una cosa muy diferente.', author: 'Walter Judd'},
                {cite: 'La <strong>democracia no puede triunfar</strong> a menos que aquellos que expresan su alternativa se encuentren preparados para escoger inteligentemente. <strong>La educación es</strong>, por tanto, <strong>la verdadera salvaguarda</strong> de la democracia.', author: 'F.D. Roosevelt'},
                {cite: 'La <strong>democracia</strong> nunca es un <strong>logro definitivo</strong>, sino el llamado a un <strong>esfuerzo infatigable</strong>.', author: 'Kennedy'},
                {cite: '<strong>Democracy</strong> is never a final achievement. <strong>It is a call</strong> to an untiring effort.', author: 'John F. Kennedy'},
                {cite: 'Lo que <strong>verdaderamente importa</strong> desde el punto de vista del capital social <strong>y el compromiso cívico</strong> no es la membresía meramente nominal, sino una membresía <strong>activa y comprometida</strong>.', author: 'Robert D. Putnmam'}
            ],
            citesRotator = setInterval(function() {
                var $citesRotator = $('#citesRotator'),
                    cite          = citess[Math.floor(Math.random() * citess.length)];

                $citesRotator.find('p').html(cite.cite);
                $citesRotator.find('footer cite').text(cite.author);
            }, 10000);
        })();
    </script>
{% endblock %}