{% extends '@IEPCWebsite/_layouts/transparencia.html.twig' %}

{% block mainContainer %}
    <main class="container">
        {% block content '' %}

        <row end>
            <column cols="8">
                <article>
                    <header><h3>Información general</h3></header>
                    <p>Cuando hablamos de datos personales nos referimos a toda aquella información relativa a una persona que la identifica o la hace identificable. Entre otras cosas, le dan identidad, la describen, precisan su origen, edad, lugar de residencia, trayectoria académica, laboral, o profesional. Pero también, describen aspectos más sensibles o delicados, como su forma de pensar, estado de salud, sus características físicas, ideología o vida sexual, entre otros aspectos.</p>
                    <p>Los datos personales son necesarios para que una persona pueda interactuar con otras o con una o más organizaciones sin que sea confundida con el resto de la colectividad y para que pueda cumplir con lo que disponen las leyes. Asimismo, hacen posible la generación de flujos de información que redunda en crecimiento económico y el mejoramiento de bienes y servicios.</p>
                    <p>No obstante, el uso extensivo de las tecnologías de la información y las telecomunicaciones ha permitido que en muchas ocasiones, los datos personales sean tratados para fines distintos para los que originalmente fueron recabados., así como transmitidos sin el conocimiento del titular, rebasando la esfera de privacidad de las personas y lesionando en ocasiones, otros derechos y libertades.</p>
                    <p>Bajo el concepto de protección de datos personales, el titular (o dueño) de dichos datos es la propia persona, lo que implica la libertad de elegir qué se desea comunicar, cuándo y a quién, manteniendo el control personal sobre la propia información. En naciones avanzadas, la protección de datos personales es quizá el más nuevo de los derechos que goza un ciudadano.</p>
                    <p>En 1981 en el seno del Consejo de Europa, surge el primer marco legal con principios y normas concretas para prevenir la recolección y el tratamiento ilegal de datos personales. Se trata del Convenio 108, primer instrumento vinculante de carácter internacional en materia de protección de datos.</p>
                    <p>Los países suscriptores se comprometen a realizar las reformas necesarias en su legislación interna para implementar los principios contenidos en el Convenio, los que se refieren en primer término, que los datos personales deben recolectarse y tratarse con fines legítimos; que no deben conservarse más tiempo de lo estrictamente necesario de acuerdo con el fin para el cual fueron recolectados; que sean verdaderos, y que no sean excesivos. Asimismo, prevé que deberá garantizarse la confidencialidad de los llamados datos sensibles y reconoce el derecho de las personas para tener acceso y en su caso, solicitar la corrección de su información.</p>
                    <p>En México, el reconocimiento al derecho de protección de datos personales tuvo un proceso paulatino. Desde el año 2000 se promovieron diversos proyectos legislativos sin que ninguno fructificara. En 2007, el Congreso de la Unión aprueba una reforma al artículo 6º constitucional en el que establece la protección a los datos personales y la información relativa a la vida privada, así como el derecho de acceder y corregir sus datos que obren en archivos públicos.</p>
                    <p>Pero es hasta el año siguiente, con la aprobación de las reformas a los artículos 16 y 73 que se introduce al más alto nivel de nuestra Constitución, el derecho de toda persona a la protección de su información. Lo anterior reviste gran relevancia en virtud de que los datos personales se encuentran en manos tanto de gobiernos como de particulares (empresas, organizaciones y profesionistas).</p>
                    <p>El artículo 21 Bis- Fracción IV, V y VI de la Ley de Transparencia y Acceso a la información Publica del Estado de Jalisco y sus Municipios reconoce y da contenido al derecho a la protección de datos personales, y a rectificación o sustitución.</p>
                    <p>Por otra parte, se hace referencia a la existencia de principios a los que se debe sujetar todo tratamiento de datos personales, así como los supuestos en los que excepcionalmente dejarían de aplicarse dichos principios.</p>
                </article>
            </column>
            <column cols="4" class="sidebar">
                <aside>
                    <h2>Lo que tienes que saber</h2>
                    <strong>Un dato personal es cualquier información relacionada contigo</strong>
                    <p>Constituyen datos personales tu nombre, teléfono, domicilio, fotografía, o huellas dactilares, así como cualquier otro dato que pueda identificarte.​</p>
                    <hr>
                    <strong>Tú eres dueño de tus datos personales y solo tú decides cómo, cuándo, a quién y para qué entregas tu información personal, salvo las excepciones que marquen las leyes</strong>
                    <p>Es muy importante que cuides estos datos por razones de seguridad y porque es tu derecho. Tus datos deben ser protegidos contra el mal uso como robo de identidad, transmisiones indebidas o ilícitas o accesos no autorizados.​</p>
                    <hr>
                    <strong>Existen datos que se consideran sensibles y por lo tanto requieren de mayor protección</strong>
                    <p>Por ejemplo: origen racial o étnico, estado de salud, información genética, creencias religiosas, filosóficas y morales, afiliación sindical, opiniones políticas y preferencias sexuales.​</p>
                    <hr>

                    <h2><a href="#">Solicitud de protección de información confidencial</a></h2>
                    <h2><a href="#">Documentos de interés</a></h2>
                </aside>
            </column>
        </row>
    </main>
{% endblock mainContainer %}
