fos_user:
    db_driver: orm
    firewall-name: main
    user_class: IEPC\SecurityBundle\Entity\User

security:
    encoders:
        FOS\UserBundle\Model\UserInterface: bcrypt

    role_hierarchy:
        ROLE_ADMIN:       ROLE_USER
        ROLE_SUPER_ADMIN: ROLE_ADMIN

    providers:
        fos_userbundle:
            id: fos_user.user_provider.username_email

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        main:
            pattern: ^/
            form_login:
                provider: fos_userbundle
                csrf_token_generator: security.csrf.token_manager
            logout:       true
            anonymous:    true

    access_control:
        - { host: '%admin_host%', path: ^/login$, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { host: '%admin_host%', role: ROLE_USER }