<nav id="mainMenu">
    <div class="openMenu">
        {% image '@IEPCWebsiteBundle/Resources/images/icons/menu.svg' %}
            <img src="{{ asset_url }}" alt="Menu">
        {% endimage %}
    </div>
    <div class="overlay" onclick="$('#mainMenu').removeClass('open');"></div>

    <div class="menuContainer">
        <ul class="container">
            <li class="header">
                <div>
                    {% image '@IEPCWebsiteBundle/Resources/images/iepc.png' %}
                        <img src="{{ asset_url }}" alt="IEPC">
                    {% endimage %}
                </div>
            </li>
            <li>
                <a data-ui-sref="home">Administración</a>
            </li>
            <li>
                <a data-ui-sref="sections">Secciones</a>
            </li>
            <li>
                <a data-ui-sref="contents">Contenidos</a>
            </li>
            <li>
                <a data-ui-sref="webpages">Páginas Web</a>
            </li>
            <li>
                <a data-ui-sref="files">Archivos</a>
            </li>
            <li>
                <a data-ui-sref="exit">Salir</a>
            </li>
        </ul>
    </div>
</nav>