{% extends 'IEPCWebsiteBundle:_layouts:participacion-ciudadana.html.twig' %}

{% block mainContainer %}
    <main class="container">
        <row end>
            <column cols="9">
                {{ render(controller('IEPCContentBundle:WebPage:RenderContent', {content: webpage.content})) }}
            </column>
            <column cols="3" class="hideMobile sidebar">
                <a href="/participacion-ciudadana/programas/programas-con-perspectiva-de-genero">Programas con perspectiva de género</a>
                <hr>
                <a href="/participacion-ciudadana/difusion/eventos-de-la-direccion">Eventos de participación ciudadana</a>
                <hr>
                Cronología de una lucha por la equidad
                <hr>
                Mujeres que no debemos olvidar
                <hr>
                Organizaciones comprometidas con la lucha por los derechos de la mujer
                <hr>
                ¿Por qué la equidad?
            </column>
        </row>
    </main>
{% endblock mainContainer %}