{% extends 'IEPCWebsiteBundle::base.html.twig' %}

{% block bodyClass 'participacion-ciudadana' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/transparencia.css' filter='?yui_css'
        '@IEPCWebsiteBundle/Resources/less/sections/transparencia.less'
    %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock stylesheets %}

{% block layout %}
    <header>
        {% block header %}
            {% include '@IEPCWebsite/_shared/header-default.html.twig' %}
        {% endblock header %}
    </header>

    {% block mainMenu %}
        {{  render(controller('IEPCWebsiteBundle:Menu:transparencia')) }}
    {% endblock mainMenu %}

    {% block mainContainer %}
        <main class="container">
            <row end>
                <column cols="8">
                    {{ render(controller('IEPCContentBundle:Content:Render', {content: webpage.content})) }}
                </column>
                <column cols="4" class="hideMobile sidebar">
                    <aside>
                        <h2>Lo que tienes que saber</h2>
                        <strong>Un dato personal es cualquier información relacionada contigo</strong>
                        <p>Constituyen datos personales tu nombre, teléfono, domicilio, fotografía, o huellas dactilares, así como cualquier otro dato que pueda identificarte.​</p>
                        <hr>
                        <strong>Tú eres dueño de tus datos personales y solo tú decides cómo, cuándo, a quién y para qué entregas tu información personal, salvo las excepciones que marquen las leyes</strong>
                        <p>Es muy importante que cuides estos datos por razones de seguridad y porque es tu derecho. Tus datos deben ser protegidos contra el mal uso como robo de identidad, transmisiones indebidas o ilícitas o accesos no autorizados.​</p>
                        <hr>
                        <p style="text-align: center; font-size: 1.5em;">
                            <a href="/transparencia/proteccion-de-datos-personales/solicitud-de-proteccion"><strong>Solicitud de protección de información confidencial.</strong></a>
                        </p>
                    </aside>
            </row>
        </main>
    {% endblock mainContainer %}

    <footer>
        {% block footer %}
            {% include '@IEPCWebsite/_shared/footer-default.html.twig' %}
        {% endblock footer %}
    </footer>
{% endblock layout %}