{#<ul>#}
    {#<li>#}
        {#<figure>#}
            {#<img src="">#}
            {#<figcaption>Slider 01</figcaption>#}
        {#</figure>#}
    {#</li>#}
    {#<li>#}
        {#<figure>#}
            {#<img src="">#}
            {#<figcaption>Slider 02</figcaption>#}
        {#</figure>#}
    {#</li>#}
    {#<li>#}
        {#<figure>#}
            {#<img src="">#}
            {#<figcaption>Slider 03</figcaption>#}
        {#</figure>#}
    {#</li>#}
    {#<li>#}
        {#<figure>#}
            {#<img src="">#}
            {#<figcaption>Slider 04</figcaption>#}
        {#</figure>#}
    {#</li>#}
    {#<li>#}
        {#<figure>#}
            {#<img src="">#}
            {#<figcaption>Slider 05</figcaption>#}
        {#</figure>#}
    {#</li>#}
{#</ul>#}