<section data-ng-controller="sectionController">
    <h1>Secciones</h1>
    <button data-ng-click="newSection()">nueva</button>

    {#<ul>#}
        {#{% for section in sections %}#}
            {#<li>#}
                {#[<a href="{{ path('iepc_content_admin_section_edit', {id: section.id}) }}">editar</a>]#}
                {#[<a href="{{ path('iepc_content_admin_section_delete', {id: section.id}) }}">borrar</a>]#}
                {#{{ section }}#}
                {#[<i>{{ section.fullPath }}</i>]#}
            {#</li>#}
        {#{% endfor %}#}
    {#</ul>#}
</section>