<section data-ng-controller="sectionController">

    <h1>Secciones</h1>
    <span data-ng-click="newSection()">[new]</span>
    <a data-ui-sref="sections.edit">edit</a>

    <row>
        <column cols="6">
            <ul>
                <li data-ng-repeat="section in sections track by $index">
                    [edit] [delete] {{ '{{ section.name }}' }}
                </li>
            </ul>
        </column>
        <column cols="6" data-ui-view></column>
    </row>
</section>