<p>Nombre: {{ mensaje.nombre }}</p>
<p>Email: {{ mensaje.email }}</p>
<p>Asunto: {{ mensaje.asunto }}</p>

<p>Mensaje: {{ mensaje.mensaje }}</p>

<footer>
------<br>
Instituto Electoral y de Participación Ciudadana del Estado de Jalisco
</footer>