<ul id="admin_newbuttons">
    <li>
        <a href="#">Nueva página</a>
    </li>
    <li>
        <a href="#">Nuevo boletín</a>
    </li>
    <li>
        <a href="#">Nueva noticia</a>
    </li>
    <li>
        <a href="#">Nuevo evento</a>
    </li>
    <li>
        <a href="#">Nueva galería</a>
    </li>
</ul>

