{% extends '@IEPCAdmin/base.html.twig' %}

{% block layout %}
    <header>
        <h1><a href="{{ path('iepc_content_admin_homepage') }}">IEPC Admin</a></h1>
    </header>

    {% block mainMenu %}
        {{  render(controller('IEPCWebsiteBundle:Menu:main')) }}
    {% endblock mainMenu %}

    <main class="container">
        {% block content '' %}
    </main>

    {#<footer>#}
        {#{% block footer %}#}
            {#{% include '@IEPCWebsite/_shared/footer-default.html.twig' %}#}
        {#{% endblock footer %}#}
    {#</footer>#}
{% endblock layout %}