{% extends '@IEPCAdmin/base.html.twig' %}

{% block layout %}
    {% block mainMenu %}
        {{  render(controller('IEPCAdminBundle:Menu:admin')) }}
    {% endblock mainMenu %}

    <main class="container">
        {% block content '' %}
    </main>

    {#<footer>#}
        {#{% block footer %}#}
            {#{% include '@IEPCWebsite/_shared/footer-default.html.twig' %}#}
        {#{% endblock footer %}#}
    {#</footer>#}
{% endblock layout %}