{% extends '@IEPCAdmin/base.html.twig' %}

{% block layout %}
    {% block mainMenu %}
        {{  render(controller('IEPCAdminBundle:Menu:admin')) }}
    {% endblock mainMenu %}

    <main class="container" data-ui-view></main>
{% endblock layout %}