<div class="footerContainer">
    <nav class="left">
        <div class="links">
            <div>
                <strong>Instituto Electoral</strong><br>
                <a href="http://www.iepcjalisco.org.mx/que-es-el-iepc">¿Qué es el Instituto Electoral?</a>
                <a href="http://www.iepcjalisco.org.mx/integracion-del-consejo-general">Integración del Consejo</a>
                <a href="http://www.iepcjalisco.org.mx/organigrama">Organigrama</a>
                <a href="http://www.iepcjalisco.org.mx/directorio-institucional">Directorio Institucional</a>
                <a href="http://www.iepcjalisco.org.mx/resultados-electorales">Resultados Electorales</a>
                <a href="http://www.iepcjalisco.org.mx/geografia-electoral">Geografía Electoral</a>
            </div>
            <div>
                <strong>Partidos y Agrupaciones</strong>
                <a href="http://www.iepcjalisco.org.mx/partidos-politicos">Partidos Políticos</a>
                <a href="http://www.iepcjalisco.org.mx/agrupaciones-politicas">Agrupaciones Políticas</a>
            </div>
            <div>
                <strong>Legislación</strong><br>
                <a href="http://www.iepcjalisco.org.mx/legislacion">Leyes, reglamentos y lineamientos</a>
                <a href="http://www.iepcjalisco.org.mx/delitos-electorales">Delitos electorales</a>
            </div>
            <div>
                <strong>Participación ciudadana</strong><br>
                <a href="http://www.iepcjalisco.org.mx/participacion-ciudadana/programas">Programas</a>
                <a href="http://www.iepcjalisco.org.mx/mecanismos-participacion-ciudadana">Mecanísmos de participación</a>
                <a href="http://www.iepcjalisco.org.mx/directorio-autoridades-ciudadanas">Directorio de autoridades</a>
                <a href="http://www.iepcjalisco.org.mx/calendario/%3C?%20print(Date(">Eventos</a>
                <a href="http://www.iepcjalisco.org.mx/sitios-de-interes">Sitios de interés</a>
            </div>
            <div>
                <strong><a href="http://www.iepcjalisco.org.mx/proceso-electoral-2015">Procesos Electorales</a></strong>
            </div>
            <div>
                <strong>Transparencia</strong><br>
                <a href="http://www.iepcjalisco.org.mx/transparencia2/informacion-fundamental.php">Información fundamental</a>
                <a href="http://www.iepcjalisco.org.mx/transparencia2/articulo-8.php">Artículo 8</a>
                <a href="http://www.iepcjalisco.org.mx/transparencia2/articulo-14.php">Artículo 14</a>
                <a href="http://www.iepcjalisco.org.mx/transparencia-focalizada">Transparencia focalizada</a>
            </div>
            <div>
                <strong><a href="http://www.iepcjalisco.org.mx/sala-de-prensa">Sala de prensa</a></strong>
            </div>
        </div>
    </nav>
    <div class="right">
        <div>
            <div class="gmaps">
                <a href="https://www.google.com.mx/maps/place/Instituto+Electoral+y+de+Participaci%C3%B3n+Ciudana+del+Estado+de+Jalisco/@20.6916996,-103.3760411,15z/data=!4m2!3m1!1s0x8428ae3ea966b0ed:0xded589bd795d099e" target="_blank">
                    {% image '@IEPCWebsiteBundle/Resources/images/mapa.png' %}
                    <img src="{{ asset_url }}" alt="Esquina Florencia y López Mateos">
                    {% endimage %}
                </a>
            </div>
            <div class="address">
                {% image '@IEPCWebsiteBundle/Resources/images/iepc_white.png' %}
                    <img class="logo" src="{{ asset_url }}" alt="IEPC">
                {% endimage %}
                <a href="https://www.google.com.mx/maps/place/Instituto+Electoral+y+de+Participaci%C3%B3n+Ciudana+del+Estado+de+Jalisco/@20.6916996,-103.3760411,15z/data=!4m2!3m1!1s0x8428ae3ea966b0ed:0xded589bd795d099e" target="_blank">
                    Florencia #2370</a>
                , Colonia Italia Providencia
                <br>
                CP. 44648, Guadalajara, Jalisco, México<br>
                <i class="fa-phone"></i> 01 33 36 41 45 07/09/18<br>
                <a href="{{ url('iepc_content_webPage') }}">www.iepcjalisco.org.mx</a>
            </div>
        </div>
        <div class="aviso">
            <a title="Aviso de confidencialidad" href="http://www.iepcjalisco.org.mx/aviso-de-confidencialidad">Aviso de confidencialidad</a>
        </div>
    </div>
</div>
