<row end class="container">
    <column cols="3" class="left">
        <a href="/participacion-ciudadana">
            {% image '@IEPCWebsiteBundle/Resources/images/logos/participacion-ciudadana.png' %}
            <img src="{{ asset_url }}" alt="Participación Ciudadana">
            {% endimage %}
        </a>
    </column>
    <column cols="7" class="hideMobile hideTablet center">
        {% block headerCenter %}
            <a href="{{ path('iepc_website_page') }}">
                {% image '@IEPCWebsiteBundle/Resources/images/iepc.png' %}
                <img src="{{ asset_url }}" alt="IEPC">
                {% endimage %}
            </a>
        {% endblock headerCenter %}
    </column>
    <column cols="2" class="right">
        {% include '@IEPCWebsite/_shared/social-links-default.html.twig' %}
    </column>
</row>