<nav id="mainMenu">
    <div class="openMenu" onclick="$('#mainMenu').toggleClass('open');">
        {% image '@IEPCWebsiteBundle/Resources/images/icons/menu.svg' %}
            <img src="{{ asset_url }}" alt="Menu">
        {% endimage %}
    </div>
    <div class="closeMenu" onclick="$('#mainMenu').removeClass('open');">
        {% image '@IEPCWebsiteBundle/Resources/images/icons/back.svg' %}
            <img src="{{ asset_url }}" alt="Back">
        {% endimage %}
    </div>
    <div class="overlay"></div>
    <div class="menuContainer">
        <ul class="container">
            <li>
                <span>
                    Instituto Electoral
                </span>
                <ul>
                    <li><a href="http://www.iepcjalisco.org.mx/que-es-el-iepc">¿Qué es el Instituto Electoral?</a></li>
                    <li><a href="http://www.iepcjalisco.org.mx/integracion-del-consejo-general">Integración del Consejo General</a></li>
                    <li><a href="http://www.iepcjalisco.org.mx/organigrama">Organigrama</a></li>
                    <li><a href="http://www.iepcjalisco.org.mx/directorio-institucional">Directorio Institucional</a></li>
                    <li><a href="http://www.iepcjalisco.org.mx/legislacion">Legislación</a></li>
                    <li><a href="http://www.iepcjalisco.org.mx/resultados-electorales">Resultados Electorales</a></li>
                    <li><a href="http://www.iepcjalisco.org.mx/geografia-electoral">Geografía Electoral</a></li>
                </ul>
            </li>
            <li>
                <a href="http://www.iepcjalisco.org.mx/educar-para-la-democracia">Educación Cívica</a>
            </li>
            <li>
                <a href="http://www.iepcjalisco.org.mx/#">Participación Ciudadana</a>
            </li>
            <li>
                <span>Partidos y Agrupaciones</span>
                <ul>
                    <li><a href="http://www.iepcjalisco.org.mx/partidos-politicos">Partidos Políticos</a></li>
                    <li><a href="http://www.iepcjalisco.org.mx/agrupaciones-politicas">Agrupaciones Políticas</a></li>
                </ul>
            </li>
            <li>
                <span>Procesos Electorales</span>
                <ul>
                    <li><a href="http://www.iepcjalisco.org.mx/proceso-electoral-2015">Local ordinario 2014-2015</a></li>
                    <li><a href="http://www.iepcjalisco.org.mx/proceso-electoral-2015">Local ordinario 2011-2012</a></li>
                </ul>
            </li>
            <li>
                <span>Transparencia</span>
                <ul>
                    <li><a href="http://www.iepcjalisco.org.mx/transparencia2/informacion-fundamental.php">Información Fundamental</a></li>
                    <li><a href="http://www.iepcjalisco.org.mx/transparencia-focalizada">Transparencia Focalizada</a></li>
                    <li><a href="http://www.iepcjalisco.org.mx/sesiones-de-consejo/consejo-general">Sesiones del Consejo General</a></li>
                    <li><a href="http://www.iepcjalisco.org.mx/transparencia/articulo-38/comisiones/2015">Comisiones y Comités</a></li>
                    <li><a href="http://www.iepcjalisco.org.mx/sesiones-de-consejo/distritales">Sesiones de los Consejos Distritales</a></li>
                    <li><a href="https://apps5.iepcjalisco.org.mx/transparencia/login">Solicitud de Información</a></li>
                </ul>
            </li>
            <li>
                <a href="http://www.iepcjalisco.org.mx/sala-de-prensa">Prensa</a>
            </li>
            <li>
                <a href="http://www.iepcjalisco.org.mx/contacto">Contacto</a>
            </li>
        </ul>
    </div>
</nav>