<nav id="mainMenu">
    <div class="openMenu">
        {% image '@IEPCWebsiteBundle/Resources/images/icons/menu.svg' %}
            <img src="{{ asset_url }}" alt="Menu">
        {% endimage %}
    </div>
    <div class="overlay" onclick="$('#mainMenu').removeClass('open');"></div>

    <div class="menuContainer">
        <ul class="container">
            <li class="header">
                <div>
                    {% image '@IEPCWebsiteBundle/Resources/images/iepc.png' %}
                        <img src="{{ asset_url }}" alt="IEPC">
                    {% endimage %}
                </div>
            </li>
            <li>
                <a href="/">
                    /
                </a>
            </li>
            <li>
                <a href="/participacion-ciudadana"><strong>Inicio</strong></a>
                <ul>
                    <li><a href="/participacion-ciudadana">Consejo General</a></li>
                    <li><a href="/participacion-ciudadana">Comisión de Participación Ciudadana</a></li>
                    <li><a href="/participacion-ciudadana">Dirección de Participación Ciudadana</a></li>
                </ul>
            </li>
            <li>
                <span>¿Con quiénes trabajamos?</span>
                <ul>
                    <li><a href="/participacion-ciudadana/vinculacion/directorio-de-ong-y-osc-inscritas">Directorio de las ONGs y OSCs</a></li>
                    <li><a href="/participacion-ciudadana/participacion-ongs">Participación de las ONGs y OSCs</a></li>
                    <li><a href="/participacion-ciudadana/vinculacion/galeria">Galería</a></li>
                </ul>
            </li>
            <li>
                <span>Difusión</span>
                <ul>
                    <li><a href="/participacion-ciudadana/difusion/eventos-de-la-direccion">Eventos de la Dirección PC</a></li>
                    <li><a href="/participacion-ciudadana/difusion/eventos-de-las-ong">Eventos de las ONGs</a></li>
                    <li><a href="/participacion-ciudadana/difusion/infografias">Infografías</a></li>
                    <li><a href="/participacion-ciudadana/difusion/videos">Videos</a></li>
                </ul>
            </li>
            <li>
                <span>Para conocer más sobre Participación Ciudadana</span>
                <ul>
                    <li><a href="/participacion-ciudadana/divulgacion/libros-sobre-participacion-ciudadana">Libros sobre participación ciudadana</a></li>
                    <li><a href="/participacion-ciudadana/divulgacion/articulos-en-revistas-arbitradas-o-de-divulgacion">Artículos en revistas arbitradas o de divulgación</a></li>
                    <li><a href="/participacion-ciudadana/divulgacion/documentales-sobre-participacion-ciudadana">Documentales y películas sobre participación ciudadana</a></li>
                    <li><a href="/participacion-ciudadana/divulgacion/notas-y-articulos-periodisticos-relacionados">Notas y artículos periodísticos relacionados</a></li>
                </ul>
            </li>
            <li>
                <span>Mecanismos de Democracia Directa</span>
                <ul>
                    <li><a href="/participacion-ciudadana/democracia-directa/plebiscito">Plebiscito</a></li>
                    <li><a href="/participacion-ciudadana/democracia-directa/referendum">Referéndum</a></li>
                    <li><a href="/participacion-ciudadana/democracia-directa/iniciativa-popular">Iniciativa popular</a></li>
                    <li><a href="/participacion-ciudadana/democracia-directa/reforma-participacion-ciudadana">Reforma participación ciudadana</a></li>
                </ul>
            </li>
            <li>
                <span>Proyectos</span>
                <ul>
                    <li><a href="/participacion-ciudadana/programas/promocion-del-voto-informado">Promoción del voto informado</a></li>
                    <li><a href="/participacion-ciudadana/programas/democracia-ciudadania-y-participacion-ciudadana">Democracia 2.0</a></li>
                    <li><a href="/participacion-ciudadana/programas/programas-con-perspectiva-de-genero">Programas con perspectiva de género</a></li>
                    <li><a href="/participacion-ciudadana/programas/ciudadanos-por-la-calidad-democratica">Ciudadanos por la calidad democrática</a></li>
                    <li><a href="/participacion-ciudadana/programas/formatos-de-solicitud">Formatos de solicitud para talleres</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>