<nav id="mainMenu">
    <div class="menuBar">
        <div class="openMenu">
            {% image '@IEPCWebsiteBundle/Resources/images/icons/menu.svg' %}
                <img src="{{ asset_url }}" alt="Menu">
            {% endimage %}
        </div>
    </div>
    <div class="menuContainer">
        <ul class="container">
            <li class="header">
                <div>
                    {% image '@IEPCWebsiteBundle/Resources/images/iepc.png' %}
                        <img src="{{ asset_url }}" alt="IEPC">
                    {% endimage %}
                </div>
            </li>
            <li>
                <a href="/">
                    /
                </a>
            </li>
            <li>
                <a href="/transparencia">
                    <strong>Inicio</strong>
                </a>
            </li>
            <li>
                <span>Información fundamental</span>
                <ul>
                    <li><a href="#">Artículo 8 - información fundamental</a></li>
                    <li><a href="#">Artículo 14 - información del Instituto Electoral</a></li>
                </ul>
            </li>
            <li>
                <span>Transparencia focalizada</span>
            </li>
            <li>
                <span>Sesiones</span>
                <ul>
                    <li><a href="#">Del consejo general</a></li>
                    <li><a href="#">Comisiones y comités</a></li>
                    <li><a href="#">Consejos distritales</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><strong>Solicitud de información</strong></a>
                <ul>
                    <li><a href="#">Vía electrónica - SERS</a></li>
                    <li><a href="#">Formatos de solicitud</a></li>
                </ul>
            </li>
            <li>
                <a href="/transparencia/proteccion-de-datos-personales">Protección de datos personales</a>
                <ul>
                    <li><a href="/transparencia/proteccion-de-datos-personales">¿Qué son los datos personales?</a></li>
                    <li><a href="/transparencia/proteccion-de-datos-personales/mis-derechos">¿Cuáles son mis derechos?</a></li>
                    <li><a href="/transparencia/proteccion-de-datos-personales/sistemas-de-proteccion">Nuestos sistemas de protección</a></li>
                </ul>
            </li>
            <li>
                <span>Actas y acuerdos</span>
            </li>
        </ul>
    </div>
    <div class="overlay"></div>
</nav>