@import (reference) "../kube/kube";
@import "../variables";
@import "../mixins";

#frontpage {
    .mainBanner {
        background: transparent url('/bundles/iepcwebsite/images/participacion-ciudadana/banner-frontpage.png') top left no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        min-height: 18em;
        text-align: center;
        font-family: Raleway, sans-serif;
        position: relative;
        blockquote {
            .vertical-center;
            padding: 0 2em;
            border: none;
            font-style: normal;
            display: block;
            width: 100%;
            p {
                font-size: 1.25em;
                margin: 0;
                strong {
                    color: @mainHL;
                }
                &:after {
                    content: '"';
                }
                &:before {
                    content: '"';
                }
            }
            cite {
                display: block;
                font-weight: bold;
                text-align: right;
                margin-right: 2em;
            }
        }
        @media @mobileview {
            min-height: 14em;
            font-size: 0.8em;
        }
    }
    .banner {
        background-color: #F5F5F5;
    }
    .textBanner {
        font-family: Raleway, sans-serif;
        position: relative;
        min-height: 8em;
        text-align: center;
        p {
            .vertical-center;
            display: block;
            width: 100%;
            text-align: center;
            font-size: 1.25em;
            a {
                color: black;
                strong {
                    color: @mainHL;
                }
            }
        }
        @media @mobileview {
            min-height: 4em;
        }
    }
}

article.organizacion {
    margin-bottom: 2em;
    font-size: 12px;
    padding: 1em;
    background: #f8f8f8;
    header {
        font-weight: bold;
        font-size: 1em;
        border-bottom: 2px solid #8031a7;
        margin-bottom: 4px;
    }
    p {
        margin: 0 0 5px 0;
        font-weight: bold;
    }
    a {
        display: block;
        padding: 1px 0;
    }
    a.website {
        padding-left: 20px;
        line-height: 20px;
        background: transparent url("images/website.png") 0 3px no-repeat;
    }
    a.facebook {
        padding-left: 20px;
        line-height: 20px;
        background: transparent url("images/facebook.png") 5px 3px no-repeat;
    }
    a.twitter {
        padding-left: 20px;
        line-height: 20px;
        background: transparent url("images/twitter.png") 0 3px no-repeat;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: @mainHL;
}